!*/
!*.*
*.[aosi]
*.md5
*.ppm
**/auto/
**/_minted*/
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.out
*.toc
*.run.xml
*.auxlock
*.bcf
*.blg
*.lof
*.log
*.nav
*.snm
*.toc
*.vrb
*.xdv

old
dns-nonrecur.dpth
http-Req.dpth
http-transaction.dpth
persistent-transaction.dpth
subnet-194.dpth
trump-kim-en.dpth
GPATH
GRTAGS
GSYMS
GTAGS
c/c_lectures
